<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Drivers</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Drivers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1deba63e-baa9-4577-a805-8ce1afe872f5.png" alt="Drivers" usemap="#1deba63e-baa9-4577-a805-8ce1afe872f5map"/>
			   <map name="1deba63e-baa9-4577-a805-8ce1afe872f5map">
				  		<area shape="rect" coords="1988,20,2278,622" href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html"  target="element">
				  						<area shape="rect" coords="908,308,1630,418" href="../elements/3a91059b-5055-421a-adfd-d5860a3b9eb8.html"  target="element">
				  						<area shape="rect" coords="908,188,1630,286" href="../elements/847fe360-4d9c-44b7-a818-462c4f23f070.html"  target="element">

				  				<area shape="rect" coords="884,116,1654,574" href="../elements/43e4e371-ec2d-4b3a-a746-7c4eea9a7d09.html"  target="element">
				  						<area shape="rect" coords="92,428,814,538" href="../elements/c2e66c0c-98b5-4831-9624-1fa9bd744998.html"  target="element">
				  						<area shape="rect" coords="92,308,814,418" href="../elements/8a378f2f-020f-4005-9eba-7dc3b9b47bad.html"  target="element">
				  						<area shape="rect" coords="92,188,814,298" href="../elements/0ed5062a-abe9-4f34-a2a3-0ea4fa5540f8.html"  target="element">

				  				<area shape="rect" coords="68,116,838,574" href="../elements/87fc7a6b-b572-476c-bc1b-a08c7feb6a13.html"  target="element">

				  		<area shape="rect" coords="20,20,1702,622" href="../elements/ea057749-2374-4e6a-a45e-651eee78f98d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ea057749-2374-4e6a-a45e-651eee78f98d.html" target="element"> External and Internal Drivers </a> </td>
											    <td> <a href="../elements/ea057749-2374-4e6a-a45e-651eee78f98d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/87fc7a6b-b572-476c-bc1b-a08c7feb6a13.html" target="element"> External Trends </a> </td>
													    <td> <a href="../elements/87fc7a6b-b572-476c-bc1b-a08c7feb6a13.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/0ed5062a-abe9-4f34-a2a3-0ea4fa5540f8.html" target="element"> Work-From-Home and &#8220;Gig&#8221; workers are demanding </a> </td>
															    <td> <a href="../elements/0ed5062a-abe9-4f34-a2a3-0ea4fa5540f8.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8a378f2f-020f-4005-9eba-7dc3b9b47bad.html" target="element"> VPN Technology is transition from traditionally hosted solutions to cloud based solutions </a> </td>
															    <td> <a href="../elements/8a378f2f-020f-4005-9eba-7dc3b9b47bad.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c2e66c0c-98b5-4831-9624-1fa9bd744998.html" target="element"> Disruptive technologies are shrinking the market space  </a> </td>
															    <td> <a href="../elements/c2e66c0c-98b5-4831-9624-1fa9bd744998.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/43e4e371-ec2d-4b3a-a746-7c4eea9a7d09.html" target="element"> Internal Trends </a> </td>
													    <td> <a href="../elements/43e4e371-ec2d-4b3a-a746-7c4eea9a7d09.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/847fe360-4d9c-44b7-a818-462c4f23f070.html" target="element"> Consolidation of services.  </a> </td>
															    <td> <a href="../elements/847fe360-4d9c-44b7-a818-462c4f23f070.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/3a91059b-5055-421a-adfd-d5860a3b9eb8.html" target="element"> Outsource VPN services </a> </td>
															    <td> <a href="../elements/3a91059b-5055-421a-adfd-d5860a3b9eb8.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html" target="element"> Providing the IT Infrastructure Services </a> </td>
											    <td> <a href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f9cfb8c3-898c-4381-a11a-b190ef20a100.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9cfb8c3-898c-4381-a11a-b190ef20a100.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ea057749-2374-4e6a-a45e-651eee78f98d.html" target="element"> External and Internal Drivers </a> </td>
																		<td> <a href="../elements/87fc7a6b-b572-476c-bc1b-a08c7feb6a13.html" target="element"> External Trends </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d7c0e42-66a3-44ac-9855-110dfaa2ddd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d7c0e42-66a3-44ac-9855-110dfaa2ddd2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ea057749-2374-4e6a-a45e-651eee78f98d.html" target="element"> External and Internal Drivers </a> </td>
																		<td> <a href="../elements/43e4e371-ec2d-4b3a-a746-7c4eea9a7d09.html" target="element"> Internal Trends </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ca5aaa57-bafe-4ac2-939e-6b93b40a3ccd.html" target="element">  </a> </td>
																				<td> <a href="../elements/ca5aaa57-bafe-4ac2-939e-6b93b40a3ccd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/87fc7a6b-b572-476c-bc1b-a08c7feb6a13.html" target="element"> External Trends </a> </td>
																				<td> <a href="../elements/0ed5062a-abe9-4f34-a2a3-0ea4fa5540f8.html" target="element"> Work-From-Home and &#8220;Gig&#8221; workers are demanding </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/61b84512-cee1-4c73-a861-2057eb492007.html" target="element">  </a> </td>
																				<td> <a href="../elements/61b84512-cee1-4c73-a861-2057eb492007.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/87fc7a6b-b572-476c-bc1b-a08c7feb6a13.html" target="element"> External Trends </a> </td>
																				<td> <a href="../elements/8a378f2f-020f-4005-9eba-7dc3b9b47bad.html" target="element"> VPN Technology is transition from traditionally hosted solutions to cloud based solutions </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5ff8d0b4-1bf9-4268-98fc-2e9d14f0e481.html" target="element">  </a> </td>
																				<td> <a href="../elements/5ff8d0b4-1bf9-4268-98fc-2e9d14f0e481.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/87fc7a6b-b572-476c-bc1b-a08c7feb6a13.html" target="element"> External Trends </a> </td>
																				<td> <a href="../elements/c2e66c0c-98b5-4831-9624-1fa9bd744998.html" target="element"> Disruptive technologies are shrinking the market space  </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/2ed34b48-9a3b-4098-9ffc-c42144a0f1c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/2ed34b48-9a3b-4098-9ffc-c42144a0f1c3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/43e4e371-ec2d-4b3a-a746-7c4eea9a7d09.html" target="element"> Internal Trends </a> </td>
																				<td> <a href="../elements/847fe360-4d9c-44b7-a818-462c4f23f070.html" target="element"> Consolidation of services.  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6975c9ba-43a3-4a7d-988e-f01eff347379.html" target="element">  </a> </td>
																				<td> <a href="../elements/6975c9ba-43a3-4a7d-988e-f01eff347379.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/43e4e371-ec2d-4b3a-a746-7c4eea9a7d09.html" target="element"> Internal Trends </a> </td>
																				<td> <a href="../elements/3a91059b-5055-421a-adfd-d5860a3b9eb8.html" target="element"> Outsource VPN services </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/ecc336c8-992c-4cc4-9aa8-4fdf97790320.html" target="element">  </a> </td>
																		<td> <a href="../elements/ecc336c8-992c-4cc4-9aa8-4fdf97790320.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html" target="element"> Providing the IT Infrastructure Services </a> </td>
																		<td> <a href="../elements/ea057749-2374-4e6a-a45e-651eee78f98d.html" target="element"> External and Internal Drivers </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>