<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SRA Product</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SRA Product</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/53ebefd3-6fa2-43b0-97d8-2367f392fc9e.png" alt="SRA Product" usemap="#53ebefd3-6fa2-43b0-97d8-2367f392fc9emap"/>
			   <map name="53ebefd3-6fa2-43b0-97d8-2367f392fc9emap">
				  		<area shape="rect" coords="1268,20,1630,130" href="../elements/3987ba2f-c1de-4e4b-bc7b-f13f7eb739d3.html"  target="element">
				  		<area shape="rect" coords="1268,236,1630,358" href="../elements/c2f6cd63-9ded-4a4c-ab48-5d70cba7720d.html"  target="element">
				  		<area shape="rect" coords="524,20,958,130" href="../elements/fbc35f69-e116-4dec-a738-35139faa00f0.html"  target="element">
				  		<area shape="rect" coords="524,236,958,358" href="../elements/68d2dcb4-0d44-4e85-83bd-4bb0972280c2.html"  target="element">
				  		<area shape="rect" coords="20,20,310,358" href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html" target="element"> Providing the IT Infrastructure Services </a> </td>
											    <td> <a href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/68d2dcb4-0d44-4e85-83bd-4bb0972280c2.html" target="element"> Encrypted Communication and Tunneling </a> </td>
											    <td> <a href="../elements/68d2dcb4-0d44-4e85-83bd-4bb0972280c2.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fbc35f69-e116-4dec-a738-35139faa00f0.html" target="element"> Providing Encrypted Communication </a> </td>
											    <td> <a href="../elements/fbc35f69-e116-4dec-a738-35139faa00f0.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2f6cd63-9ded-4a4c-ab48-5d70cba7720d.html" target="element"> Virtual Private Network Service </a> </td>
											    <td> <a href="../elements/c2f6cd63-9ded-4a4c-ab48-5d70cba7720d.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3987ba2f-c1de-4e4b-bc7b-f13f7eb739d3.html" target="element"> Secure Remote Access </a> </td>
											    <td> <a href="../elements/3987ba2f-c1de-4e4b-bc7b-f13f7eb739d3.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0791e1f8-24ac-40d9-8c85-51c1eef11ec3.html" target="element"> Composes </a> </td>
																		<td> <a href="../elements/0791e1f8-24ac-40d9-8c85-51c1eef11ec3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc25c589-cdee-4033-b88e-d9cc0e9e36e6.html" target="element"> Providing the IT Infrastructure Services </a> </td>
																		<td> <a href="../elements/fbc35f69-e116-4dec-a738-35139faa00f0.html" target="element"> Providing Encrypted Communication </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1f516ebf-ba2a-4463-932b-e361318475c6.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/1f516ebf-ba2a-4463-932b-e361318475c6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/68d2dcb4-0d44-4e85-83bd-4bb0972280c2.html" target="element"> Encrypted Communication and Tunneling </a> </td>
																		<td> <a href="../elements/fbc35f69-e116-4dec-a738-35139faa00f0.html" target="element"> Providing Encrypted Communication </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/259b20fa-7b21-4858-8842-79158ae37b7d.html" target="element"> Serves </a> </td>
																		<td> <a href="../elements/259b20fa-7b21-4858-8842-79158ae37b7d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/c2f6cd63-9ded-4a4c-ab48-5d70cba7720d.html" target="element"> Virtual Private Network Service </a> </td>
																		<td> <a href="../elements/68d2dcb4-0d44-4e85-83bd-4bb0972280c2.html" target="element"> Encrypted Communication and Tunneling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5825b7c5-f4b7-4d11-9d88-68a660e358a4.html" target="element"> Aggregates </a> </td>
																		<td> <a href="../elements/5825b7c5-f4b7-4d11-9d88-68a660e358a4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3987ba2f-c1de-4e4b-bc7b-f13f7eb739d3.html" target="element"> Secure Remote Access </a> </td>
																		<td> <a href="../elements/c2f6cd63-9ded-4a4c-ab48-5d70cba7720d.html" target="element"> Virtual Private Network Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96773e98-5a28-42e8-8568-ef817831bfbd.html" target="element"> Aggregates </a> </td>
																		<td> <a href="../elements/96773e98-5a28-42e8-8568-ef817831bfbd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3987ba2f-c1de-4e4b-bc7b-f13f7eb739d3.html" target="element"> Secure Remote Access </a> </td>
																		<td> <a href="../elements/fbc35f69-e116-4dec-a738-35139faa00f0.html" target="element"> Providing Encrypted Communication </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>